/* selectors pt 2: psuedo classes  */

/* h1:hover {
  color: rebeccapurple;
  font-size: 4rem;
} */

a:visited {
  color: cadetblue;
}

a:link {
  color: red;
}

/* li:last-of-type {
  border: 1px solid lime;
} */

li:nth-of-type(2n) {
  border: 1px solid skyblue;
}

button:active {
  background-color: limegreen;
}

input:focus {
  border: 8px solid fuchsia;
}

body:not(h1, h2, h3, h4, h5, h6) {
  border: 1px solid yellowgreen;
}
